doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .wrapper





      include ../partials/header-1.pug
      include ../partials/slider.pug
      include ../partials/profit.pug     
      include ../partials/knowledge.pug
      include ../partials/education.pug
      include ../partials/discount.pug
      include ../partials/questions-card.pug
      include ../partials/questions.pug
      include ../partials/link.pug
      include ../partials/footer.pug


        