.discount
    .subtitle.subtitle_black.discount__subtitle Скидка 40% до 30 июня
    .text.discount__text Успейте приобрести курс по выгодной цене! Вы можете забронировать место на курсе со скидкой, а остальную сумму оплатить в рассрочку на 12 или 24 месяца.
    button.button.button_orange.discount__button Купить курс
