- const education = [
- {title: 'Курсы'},
- {title: 'Вебинары'},
- {title: 'Тренажеры'},
- {title: 'Воркшопы'}]

- const about = [
- {title: 'О платформе'},
- {title: 'Преподаватели'},
- {title: 'Тарифы'},
- {title: 'Отзывы'}]

- const contacts = [
- {title: 'Связаться с нами'},
- {title: 'Консультация'},
- {title: 'Реквизиты'},
- {title: 'Поддержка'}]

.footer

    .footer__content
        .footer__column-left 
            .logo 
                img.logo__image(src='../assets/images/logo-image.png')
                img.logo__text(src='../assets/images/logo-text.png')
            .text.footer__text-small Образовательная онлайн-платформа для развития и тренировки навыков в сфере информационных технологий
            a(href= '#')
                img.icon(src='../assets/images/fb.png')
            a(href= '#')
                img.icon(src='../assets/images/vk.png')
            a(href= '#')
                img.icon(src='../assets/images/inst.png')
        .footer__column 
            .text.footer__text-big Обучение       
            each item in education
                +link(item.title)
        .footer__column
            .text.footer__text-big О нас      
            each item in about
                +link(item.title) 
        .footer__column 
            .text.footer__text-big Контакты       
            each item in contacts
                +link(item.title)
        .footer__column-right
            .text.footer__text-big Возникли вопросы?
            .text.footer__text Напишите нам на почту
            .text.footer__mail education@ementor.info
    .footer__copyright
        .text.footer__text-micro E-Mentor © 2021 Все права защищены
        .text.footer__text-micro Политика обработки персональных данных
        .text.footer__text-micro Публичная оферта