include ../partials/menu.pug

- const points = ['О нас', 'Платформа', 'Курсы', 'Лекции', 'Тарифы', 'Блог', 'Контакты']

.header-1
    .header-1__content
        .logo 
            img.logo__image(src='../assets/images/logo-image-big.png')
            img.logo__text(src='../assets/images/logo-text-big.png')
        .menu 

            each item in points
                +menu(item) 
    .text.title Практический курс по анимации для начинающих motion-дизайнеров