.knowledge
    .knowledge__column
        .subtitle.subtitle_white.knowledge__subtitle Актуальные знания
        .text.text_white.knowledge__text                Мы понимаем, как быстро меняются тренды и появляются обновления. Поэтому мы всегда следим за всеми новинками, добавляем в программу то, что требуют топовые компании. Мы предлагаем вам только актуальные знания, чтобы вы были впереди планеты всей. 
        button.button.button_orange.knowledge__button Купить курс
    .knowledge__column
        img.knowledge__dash-line(src='../assets/images/dash-line.png' alt="Курс по анимации")
        img.knowledge__image(src='../assets/images/photo.png' alt="Курс по анимации")

