mixin questions-card(title, text, image)
    .questions-card
        .questions-card__flex
            .text.questions-card__title=title
            img.questions-card__image(src=image)
        .text.questions-card__text=text


