.education {
  width: 1440px;
  height: 609px;
  padding-top: 1px;
}
.list__flex {
  display: flex;
}
.education__columns {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}
.list {
  width: 270px;
  height: 110px;
  padding-top: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
}
.list__cont {
  margin-left: 15px;
}
.list__flex {
  display: flex;
}
.list__title {
  font-family: Raleway;
  font-style: medium;
  font-size: 16px;
  line-height: 16px;
  color: #353A5A;
  margin-left: 8px;
}
.list__text {
  font-family: Raleway;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #353A5A;
  margin-top: 15px;
}
.education__subtitle {
  margin-top: 119px;
  text-align: center;
}
.education__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #FDFDFD;
  background-color: #10B582;
  margin-top: 60px;
}
