.profit {
  width: 1440px;
  padding-top: 1px;
}
.profit__columns {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  display: flex;
}
.column {
  text-align: center;
  width: 270px;
}
.column__title {
  font-family: Raleway;
  font-style: normal;
  font-size: 58px;
  line-height: 58px;
  text-align: center;
  color: #10B582;
}
.column__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.profit__text-big {
  font-size: 22px;
  line-height: 29px;
  margin-top: 39px;
  margin-left: 135px;
  width: 870px;
}
.profit__text-middle {
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 135px;
  width: 819px;
}
