.questions-card {
  width: 830px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
}
.questions-card__title {
  font-style: medium;
  font-size: 22px;
  line-height: 29px;
  color: #353A5A;
}
.questions-card__text {
  margin-left: 30px;
  width: 670px;
  margin-top: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #353A5A;
}
.questions-card__image {
  width: 33px;
  height: 33px;
}
.questions-card__flex {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
}
